# copy this file, name it dev.env, and fill the data below to connect to your Azure account
resourceGroup='<your Azure resource group name here>'
containerName='<your container name here>'
registryUsername='<your Container registry username here>'
registryPassword='<your Container registry password here>'