<h2>@ViewBag.Title - Now in Docker</h2>
<p>Type your text, and get the translation below. This one is especially for Rafa!</p>

<textarea id="originalText" class="textbox input">
</textarea>
<br/>
<input type="button" id="submit" value="@ViewBag.Title"/>
<br/>
<textarea id="processedText" class="textbox output">
</textarea>
<h6>Recent searches:</h6>
<ul id="recent"></ul>
<p id="disclaimer">Alternatively, you can try <a href="http://translate.google.com">this</a></p>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#submit").click(submitText);
            $("#originalText").focus();
            updateRecent();
        });

        function updateRecent() {
            $.ajax({
                url: '/recent',
                type: 'GET'
            }).done(function (data) {
                $("#recent").empty();
                $.each(data, function(index, entry) {
                    $("#recent").append("<li>" + entry + "</li>");
                });
            }).fail(function () {
                alert("Error retrieving history");
            });
        }

        function submitText() {
            $("#processedText").val('');
            $.ajax({
                url: '/home/czechify?text=' + encodeURIComponent($("#originalText").val()),
                type: 'GET'
            }).done(function (data) {
                $("#processedText").val(data);
                $("#disclaimer").show();
                $("#disclaimer").css('visibility', 'visible');
            }).fail(function () {
                alert("Error translating text");
            });

            updateRecent();
        };
    </script>
}