<h2>@ViewBag.Title</h2>
<p>Type your text, and get the translation in Czech below</p>

<textarea id="originalText" class="textbox input">

</textarea>
<br/>
<input type="button" id="submit" value="Czechify!"/>
<br/>
<textarea id="czechText" class="textbox output">

</textarea>
<p id="disclaimer">Alternatively, you can try <a href="http://translate.google.com">this</a></p>
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#submit").click(submitText);
            //$("#disclaimer").hide();
            $("#originalText").focus();
        });

        function submitText() {
            $("#czechText").val('');
            $.ajax({
                url: '/home/czechify?text=' + encodeURIComponent($("#originalText").val()),
                type: "GET"
            }).done(function (data) {
                $("#czechText").val(data);
                $("#disclaimer").show();
                $("#disclaimer").css('visibility', 'visible');
            }).error(function (data) {
                alert("Error translating your text. Please try again later");
            });
        };
    </script>
}